<div class="ura-header ura-side-padding ura-box-stretch">
    <a class="ura-brand" href="/" style="display: flex; flex-direction: row; padding-top: 10px; padding-bottom: 10px; margin-right: 10px;">
        <div style="margin-right: 5px;">Logo</div>
        <div>User reports app</div>
    </a>

    <NavMenu />
</div>
